-i https://pypi.org/simple/
ansible-base==2.10.7
ansible==2.10.0
boto3==1.12.39
boto==2.49.0
botocore==1.15.49
cffi==1.14.5
click==7.1.2
cryptography==3.2.1
docutils==0.15.2
flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
jinja2==2.11.3
jmespath==0.10.0
markupsafe==1.1.1
packaging==20.9
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pyyaml==5.3.1
s3transfer==0.3.6
six==1.15.0
urllib3==1.25.11 ; python_version != '3.4'
werkzeug==1.0.1
